body {
    margin-top:     10em;
    margin-bottom:  5em;
    margin-left:    auto;
    margin-right:   auto;
    
    padding-top:    0;
    padding-bottom: 0;
    padding-left:   2em;
    padding-right:  2em;

    max-width:      50em;

    line-height:    1.6;
    font-size:      1.2em;

    color:          #444;
    padding:        0 10px;
    background:     #EEE;
    
    font-family:    monospace, monospace;   
}

h1, h2, h3 {
    line-height:    1.2;
    margin-top:     2em; 
    font-family:    "Times New Roman", Times, serif;
}

