body {
    margin-top:     10em;
    margin-bottom:  5em;
    margin-left:    auto;
    margin-right:   auto;
    
    padding-top:    0;
    padding-bottom: 0;
    padding-left:   1em;
    padding-right:  1em;

    max-width:      42em;

    line-height:    1.6;
    font-size:      1.2em;

    color:          #444;
    background:     #EEE;
    
    font-family:    "Times New Roman", Times, serif;
}

h1 {
    text-align:     center;
}

h1, h2, h3 {
    line-height:    1.2;
    margin-top:     2em; 
    font-family:    monospace, monospace;   
}

header {
    text-align:     center;
}

footer {
    text-align:     center;
}

