/* -- VARIABLES -- */ 

:root {
    /* -- LAYOUT SIZE -- */

    --height-header:    7rem;
    --height-nav:       3rem;
    --height-footer:    5rem;
    --max-width:        42rem;


    /* -- FONT SIZE -- */

    --title-size:   3.0rem;
    --h1-size:      2.4rem;
    --h2-size:      1.8rem;
    --h3-size:      1.5rem;
    --text-size:    1.2rem;


    /* -- FONT FAMILY -- */

    --font-serif:       "Times New Roman", Times, serif;
    --font-monospace:   monospace, monospace;   


    /* -- FONT COLOR -- */

    --color-font:           #444;
    --color-link:           #306B9B;
    --color-link-visited:   #4C409B;


    /* -- BACKGROUND COLOR -- */

    --color-canvas:     #FFF;
    --color-background: #EEE;
}


/* -- BODY -- */ 

body {
    background: var(--color-background);
    display:    grid;

    grid-template-rows:     
        var(--height-header)
        var(--height-nav)
        1fr
        var(--height-footer);

    grid-template-areas: 
        ". header ."
        ". nav    ."
        ". main   ."
        ". footer .";
}


/* -- LINKS -- */

a {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-visited);
}

a:hover {
    text-decoration: underline;
}


/* -- HEADER -- */ 

header {
    grid-area:      header;
    vertical-align: middle;
    line-height:    var(--height-header);
}

header h1 {
    font-size:  var(--title-size);
}



/* -- NAV -- */ 

nav {
    grid-area:          nav;
    text-align:         center;
    font-family:        var(--font-monospace);   
    text-decoration:    none;
    font-weight:        bold;
    vertical-align:     middle;
    font-size:          1em;
    line-height:        var(--height-nav);
}

nav a {
    text-decoration:    none;
    color:              var(--color-font);
}

nav a:hover {
    text-decoration:    underline;
}


/* -- MAIN -- */ 

main {
    grid-area:      main;
    line-height:    1.6;
    font-size:      1.2em;
    background:     var(--color-canvas);
    font-family:    var(--font-serif);
    min-height:     calc(100vh
        - var(--height-header)
        - var(--height-nav)
        - var(--height-footer)
        );
}

main h1 {
    text-align:     center;
    line-height:    1.2;
    margin-top:     2em; 
    font-family:    var(--font-monospace);
    font-size:      var(--h1-size);
}

main h2 {
    line-height:    1.2;
    margin-top:     2em; 
    font-family:    var(--font-monospace);
    font-size:      var(--h2-size);
}

main h3 {
    line-height:    1.2;
    margin-top:     2em; 
    font-family:    var(--font-monospace);
    font-size:      var(--h3-size);
}


/* -- FOOTER -- */

footer {
    grid-area:      footer;
    text-align:     center;
    font-size:      1em;
    background:     var(--color-canvas);
    font-family:    var(--font-monospace);
    vertical-align: middle;
    line-height:    var(--height-footer);
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

