/* -- VARIABLES -- */ 

:root {
    --max-width:        42rem;

    /* --font-sans-serif:  TODO; */
    --font-serif:       "Times New Roman", Times, serif;
    --font-monospace:   monospace, monospace;   

    --color-font:       #444;
    --color-canvas:     #FFF;
    --color-background: #EEE;

    --height-header:    7rem;
    --height-nav:       3rem;
    --height-footer:    5rem;
}


/* -- BODY -- */ 

body {
    background: var(--color-background);
    display:    grid;

    grid-template-rows:     
        var(--height-header)
        var(--height-nav)
        1fr
        var(--height-footer);

    grid-template-areas: 
        ". header ."
        ".  nav   ."
        ".  main  ."
        ". footer .";
}


/* -- HEADER -- */ 

header {
    grid-area:      header;
    vertical-align: middle;
}

header a {
    text-decoration:    none;
    color:              var(--color-font);
}

header a:hover {
    text-decoration:    underline;
}


/* -- NAV -- */ 

nav {
    grid-area:          nav;
    text-align:         center;
    font-family:        var(--font-monospace);   
    text-decoration:    none;
    font-weight:        bold;
    vertical-align:     middle;
    font-size:          1em;
}

nav a {
    text-decoration:    none;
    color:              var(--color-font);
}

nav a:hover {
    text-decoration:    underline;
}


/* -- MAIN -- */ 

main {
    grid-area:      main;
    line-height:    1.6;
    font-size:      1.2em;
    background:     var(--color-canvas);
    font-family:    var(--font-serif);
    min-height:     calc(100%
        - var(--height-header)
        - var(--height-nav)
        - var(--height-footer)
        );
}

main h1 {
    text-align:     center;
}

main h1, main h2, main h3 {
    line-height:    1.2;
    margin-top:     2em; 
    font-family:    var(--font-monospace);
}


/* -- FOOTER -- */

footer {
    grid-area:      footer;
    text-align:     center;
    font-size:      1em;
    background:     var(--color-canvas);
    font-family:    var(--font-monospace);
    vertical-align: middle;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

